# Electric Vehicle Specifications Analysis (2025)

## Introduction

The shift toward electric vehicles (EVs) is transforming the global automotive industry. This notebook presents an analysis of the **Electric Vehicle Specifications Dataset (2025)**, published by [Urvish Ahir](https://www.kaggle.com/urvishahir) on Kaggle.

This dataset includes technical specifications of a wide range of EVs, such as:

- Brand and Model
- Battery Capacity
- Electric Range
- Charging Speed
- Top Speed
- Acceleration (0–100 km/h)
- Price

> **Dataset Source:**  
> [Kaggle - Electric Vehicle Specifications Dataset 2025](https://www.kaggle.com/datasets/urvishahir/electric-vehicle-specifications-dataset-2025)

##  Dataset Overview

In this section, we will:
- Import necessary libraries
- Load the dataset
- View its structure and basic information

### Import necessary libraries

In [21]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

# Show plots inline in Jupyter Notebook
%matplotlib inline

#Auto reloads notebook when changes are made
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Load the dataset

In [22]:
df = pd.read_csv('electric_vehicles_spec_2025.csv')

### Preview Dataset

In [23]:
df.head()

,brand,model,top_speed_kmh,battery_capacity_kWh,battery_type,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,...,towing_capacity_kg,cargo_volume_l,seats,drivetrain,segment,length_mm,width_mm,height_mm,car_body_type,source_url
0,Abarth,500e Convertible,155,37.8,Lithium-ion,192.0,235.0,156,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1904/Abarth-500e-C...
1,Abarth,500e Hatchback,155,37.8,Lithium-ion,192.0,235.0,149,225,7.0,...,0.0,185,4,FWD,B - Compact,3673,1683,1518,Hatchback,https://ev-database.org/car/1903/Abarth-500e-H...
2,Abarth,600e Scorpionissima,200,50.8,Lithium-ion,102.0,345.0,158,280,5.9,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3057/Abarth-600e-S...
3,Abarth,600e Turismo,200,50.8,Lithium-ion,102.0,345.0,158,280,6.2,...,0.0,360,5,FWD,JB - Compact,4187,1779,1557,SUV,https://ev-database.org/car/3056/Abarth-600e-T...
4,Aiways,U5,150,60.0,Lithium-ion,NaN,310.0,156,315,7.5,...,NaN,496,5,FWD,JC - Medium,4680,1865,1700,SUV,https://ev-database.org/car/1678/Aiways-U5

### Dataset Dimensions

In [24]:
print(f"Dataset contains {df.shape[0]} rows and {df.shape[1]} columns.")

Dataset contains 478 rows and 22 columns.

### Dataset Column Names

In [25]:
df.columns.tolist()

['brand',
 'model',
 'top_speed_kmh',
 'battery_capacity_kWh',
 'battery_type',
 'number_of_cells',
 'torque_nm',
 'efficiency_wh_per_km',
 'range_km',
 'acceleration_0_100_s',
 'fast_charging_power_kw_dc',
 'fast_charge_port',
 'towing_capacity_kg',
 'cargo_volume_l',
 'seats',
 'drivetrain',
 'segment',
 'length_mm',
 'width_mm',
 'height_mm',
 'car_body_type',
 'source_url']

### Data Types & Missing Values

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      478 non-null    object
 1   model                      477 non-null    object
 2   top_speed_kmh              478 non-null    int64
 3   battery_capacity_kWh       478 non-null    float64
 4   battery_type               478 non-null    object
 5   number_of_cells            276 non-null    float64
 6   torque_nm                  471 non-null    float64
 7   efficiency_wh_per_km       478 non-null    int64
 8   range_km                   478 non-null    int64
 9   acceleration_0_100_s       478 non-null    float64
 10  fast_charging_power_kw_dc  477 non-null    float64
 11  fast_charge_port           477 non-null    object
 12  towing_capacity_kg         452 non-null    float64
 13  cargo_volume_l             477 non-null    object
 14  seats                      478 non-null    int64
 15  drivetrain                 478 non-null    object
 16  segment                    478 non-null    object
 17  length_mm                  478 non-null    int64
 18  width_mm                   478 non-null    int64
 19  height_mm                  478 non-null    int64
 20  car_body_type              478 non-null    object
 21  source_url                 478 non-null    object
dtypes: float64(6), int64(7), object(9)
memory usage: 82.3+ KB

### Descriptive Statistics

In [27]:
df.describe()

,top_speed_kmh,battery_capacity_kWh,number_of_cells,torque_nm,efficiency_wh_per_km,range_km,acceleration_0_100_s,fast_charging_power_kw_dc,towing_capacity_kg,seats,length_mm,width_mm,height_mm
count,478.000000,478.000000,276.000000,471.000000,478.000000,478.000000,478.000000,477.000000,452.000000,478.000000,478.000000,478.000000,478.000000
mean,185.487448,74.043724,485.293478,498.012739,162.903766,393.179916,6.882636,125.008386,1052.261062,5.263598,4678.506276,1887.359833,1601.125523
std,34.252773,20.331058,1210.819733,241.461128,34.317532,103.287335,2.730696,58.205012,737.851774,1.003961,369.210573,73.656807,130.754851
min,125.000000,21.300000,72.000000,113.000000,109.000000,135.000000,2.200000,29.000000,0.000000,2.000000,3620.000000,1610.000000,1329.000000
25%,160.000000,60.000000,150.000000,305.000000,143.000000,320.000000,4.800000,80.000000,500.000000,5.000000,4440.000000,1849.000000,1514.000000
50%,180.000000,76.150000,216.000000,430.000000,155.000000,397.500000,6.600000,113.000000,1000.000000,5.000000,4720.000000,1890.000000,1596.000000
75%,201.000000,90.600000,324.000000,679.000000,177.750000,470.000000,8.200000,150.000000,1600.000000,5.000000,4961.000000,1939.000000,1665.000000
max,325.000000,118.000000,7920.000000,1350.000000,370.000000,685.000000,19.100000,281.000000,2500.000000,9.000000,5908.000000,2080.000000,1986.000000

## Data Cleaning and Preprocessing

#### 1. Handling Missing Values
If you find missing values, you have following options: 
- Drop rows with missing values
- Fill missing values with a specific value (e.g., mean, median, mode)

In [28]:
# Replacing empty strings with NaN 
df.replace(r'^\s*$', pd.NA, regex=True, inplace=True)

In [29]:
# Checking for missing values 
df.isnull().sum()

brand                          0
model                          1
top_speed_kmh                  0
battery_capacity_kWh           0
battery_type                   0
number_of_cells              202
torque_nm                      7
efficiency_wh_per_km           0
range_km                       0
acceleration_0_100_s           0
fast_charging_power_kw_dc      1
fast_charge_port               1
towing_capacity_kg            26
cargo_volume_l                 1
seats                          0
drivetrain                     0
segment                        0
length_mm                      0
width_mm                       0
height_mm                      0
car_body_type                  0
source_url                     0
dtype: int64

In [30]:
# Drop row with missing 'model'
df = df.dropna(subset=['model'])

# Fill missing 'number_of_cells' with mean
df['number_of_cells'] = df['number_of_cells'].fillna(df['number_of_cells'].mean())

# = Fill missing 'torque_nm' with mean
df['torque_nm'] = df['torque_nm'].fillna(df['torque_nm'].mean())

# Fill missing 'fast_charging_power_kw_dc' with mean 
df['fast_charging_power_kw_dc'] = df['fast_charging_power_kw_dc'].fillna(df['fast_charging_power_kw_dc'].mean())

# Fill missing 'fast_charge_port' with mode
df['fast_charge_port'] = df['fast_charge_port'].fillna(df['fast_charge_port'].mode()[0])

# Fill missing 'towing_capacity_kg' with mean
df['towing_capacity_kg'] = df['towing_capacity_kg'].fillna(df['towing_capacity_kg'].mean())

In [31]:
df['cargo_volume_l'] = df['cargo_volume_l'].astype(str)

# Extract numeric values from 'cargo_volume_l'
# \d+ matches one or more digits, 
# \.? matches an optional decimal point, 
# \d* matches zero or more digits after the decimal point
df['cargo_volume_l'] = df['cargo_volume_l'].str.extract(r'(\d+\.?\d*)')

# Convert 'cargo_volume_l' to numeric
# coercing errors to NaN 
df['cargo_volume_l'] = pd.to_numeric(df['cargo_volume_l'], errors='coerce')

# Fill missing 'cargo_volume_l' with median
df['cargo_volume_l'] = df['cargo_volume_l'].fillna(df['cargo_volume_l'].median())

#### 2. Remove Duplicates

In [32]:
# Check for duplicates
df.duplicated().sum()

np.int64(0)

Hence, there are no duplicates in the dataset.

#### 3. Fixing Data Types

In [33]:
df.dtypes

brand                         object
model                         object
top_speed_kmh                  int64
battery_capacity_kWh         float64
battery_type                  object
number_of_cells              float64
torque_nm                    float64
efficiency_wh_per_km           int64
range_km                       int64
acceleration_0_100_s         float64
fast_charging_power_kw_dc    float64
fast_charge_port              object
towing_capacity_kg           float64
cargo_volume_l               float64
seats                          int64
drivetrain                    object
segment                       object
length_mm                      int64
width_mm                       int64
height_mm                      int64
car_body_type                 object
source_url                    object
dtype: object

In [34]:
# Follwing Columns Should be of type 'category'
category_columns = [
    'brand', 'battery_type', 'fast_charge_port', 'drivetrain', 'segment', 'car_body_type'
]

df[category_columns] = df[category_columns].astype('category')

# Converting 'string' like text 
df['model'] = df['model'].astype('string')
df['source_url'] = df['source_url'].astype('string')

# Convert count-like floats to nullable integers
df['number_of_cells'] = df['number_of_cells'].round().astype('Int64')

In [35]:
df.dtypes

brand                              category
model                        string[python]
top_speed_kmh                         int64
battery_capacity_kWh                float64
battery_type                       category
number_of_cells                       Int64
torque_nm                           float64
efficiency_wh_per_km                  int64
range_km                              int64
acceleration_0_100_s                float64
fast_charging_power_kw_dc           float64
fast_charge_port                   category
towing_capacity_kg                  float64
cargo_volume_l                      float64
seats                                 int64
drivetrain                         category
segment                            category
length_mm                             int64
width_mm                              int64
height_mm                             int64
car_body_type                      category
source_url                   string[python]
dtype: object

#### 4. Standardize Text Columns

In [36]:
text_columns = [
    'brand', 'model', 'battery_type',
    'fast_charge_port', 'drivetrain',
    'segment', 'car_body_type'
]


# Standardize string formatting 
for col in text_columns:
    previous_dtype = df[col].dtype
    df[col] = df[col].astype('string').str.strip().str.lower().replace('Nan', pd.NA)
    df[col] = df[col].astype(previous_dtype)

In [37]:
# checking if any column has inconsistent values
for col in text_columns:
    print(f"Unique values in '{col}': {df[col].unique().tolist()}")

Unique values in 'brand': [nan]
Unique values in 'model': ['500e convertible', '500e hatchback', '600e scorpionissima', '600e turismo', 'u5', 'u6', 'romeo junior elettrica 54 kwh', 'romeo junior elettrica 54 kwh veloce', 'a290 electric 180 hp', 'a290 electric 220 hp', 'a6 avant e-tron', 'a6 avant e-tron performance', 'a6 avant e-tron quattro', 'a6 sportback e-tron', 'a6 sportback e-tron performance', 'a6 sportback e-tron quattro', 'q4 sportback e-tron 40', 'q4 sportback e-tron 45', 'q4 sportback e-tron 45 quattro', 'q4 sportback e-tron 55 quattro', 'q4 e-tron 40', 'q4 e-tron 45', 'q4 e-tron 45 quattro', 'q4 e-tron 55 quattro', 'q6 e-tron', 'q6 e-tron sportback', 'q6 e-tron sportback performance', 'q6 e-tron sportback quattro', 'q6 e-tron performance', 'q6 e-tron quattro', 's6 avant e-tron', 's6 sportback e-tron', 'sq6 e-tron', 'sq6 e-tron sportback', 'e-tron gt rs', 'e-tron gt rs performance', 'e-tron gt s', 'e-tron gt quattro', 'i4 m50', 'i4 edrive35', 'i4 edrive40', 'i4 xdrive40', 'i5 m60 xdrive sedan (my25)', 'i5 m60 xdrive touring (my25)', 'i5 edrive40 sedan (my25)', 'i5 edrive40 touring (my25)', 'i5 xdrive40 sedan (my25)', 'i5 xdrive40 touring (my25)', 'i7 m70 xdrive', 'i7 edrive50', 'i7 xdrive60', 'ix m70 xdrive', 'ix xdrive45', 'ix xdrive60', 'ix1 edrive20', 'ix1 xdrive30', 'ix2 edrive20', 'ix2 xdrive30', 'atto 2', 'atto 3 (my25)', 'dolphin 44.9 kwh active', 'dolphin 44.9 kwh boost', 'dolphin 60.4 kwh', 'dolphin surf 30 kwh active', 'dolphin surf 43.2 kwh boost', 'dolphin surf 43.2 kwh comfort', 'seal 61.4 kwh rwd comfort', 'seal 82.5 kwh awd excellence', 'seal 82.5 kwh rwd design', 'seal u 71.8 kwh comfort', 'seal u 87 kwh design', 'sealion 7 82.5 kwh awd design', 'sealion 7 82.5 kwh rwd comfort', 'sealion 7 91.3 kwh awd excellence', 'tang flagship', 'born 170 kw - 59 kwh', 'born 170 kw - 77 kwh', 'born vz', 'tavascan endurance', 'tavascan vz', 'lyriq 600 e4', 'e-berlingo m 50 kwh', 'e-berlingo xl 50 kwh', 'e-c3', 'e-c3 aircross', 'e-c4', 'e-c4 54 kwh', 'e-c4 x', 'e-c4 x 54 kwh', 'e-spacetourer m 50 kwh', 'e-spacetourer m 75 kwh', 'e-spacetourer xl 50 kwh', 'e-spacetourer xl 75 kwh', '3 e-tense', 'n°4 e-tense', 'n°8 awd long range', 'n°8 fwd', 'n°8 fwd long range', 'spring electric 45', 'spring electric 65', 'box 31.4 kwh', 'box 42.3 kwh', 'beo 86 kwh', '500e 3+1 24 kwh', '500e 3+1 42 kwh', '500e cabrio 24 kwh', '500e cabrio 42 kwh', '500e hatchback 24 kwh', '500e hatchback 42 kwh', '600e', 'grande panda', 'capri extended range awd', 'capri extended range rwd', 'capri standard range rwd', 'explorer extended range awd', 'explorer extended range rwd', 'explorer standard range rwd', 'mustang mach-e er awd (my25)', 'mustang mach-e er awd (my24)', 'mustang mach-e er rwd (my25)', 'mustang mach-e er rwd (my24)', 'mustang mach-e gt (my24)', 'mustang mach-e gt (my25)', 'mustang mach-e rally (my25)', 'mustang mach-e rally (my24)', 'mustang mach-e sr rwd (my24)', 'mustang mach-e sr rwd (my25)', 'puma gen-e', 'e-tourneo courier', 'e-tourneo custom l1 160 kw', 'e-tourneo custom l1 210 kw', 'e-tourneo custom l2 160 kw', 'e-tourneo custom l2 210 kw', 'ora 03 48 kwh', 'ora 03 63 kwh', 'ora 03 gt', 'ora 07 gt', 'ora 07 pro', 'ora 07 pure', 'g80 electrified luxury', 'gv60 premium', 'gv60 sport', 'gv60 sport plus', 'gv70 electrified sport', 'e:ny1', 'e-hs9 120 kwh', 'e-hs9 84 kwh', 'e-hs9 99 kwh', 'inster long range', 'inster standard range', 'ioniq 5 63 kwh rwd (my24)', 'ioniq 5 84 kwh awd (my24)', 'ioniq 5 84 kwh rwd (my24)', 'ioniq 5 n (my24)', 'ioniq 6 long range 2wd', 'ioniq 6 long range awd', 'ioniq 6 standard range 2wd', 'ioniq 9 long range awd', 'ioniq 9 long range rwd', 'ioniq 9 performance awd', 'kona electric 48 kwh', 'kona electric 65 kwh', 'i-pace ev400', 'avenger electric', 'compass electric 74 kwh', 'torres evx', 'ev3 long range', 'ev3 standard range', 'ev4 hatchback long range', 'ev4 hatchback standard range', 'ev4 sedan long range', 'ev4 sedan standard range', 'ev6 gt', 'ev6 long range 2wd', 'ev6 long range awd', 'ev6 standard range 2wd', 'ev9 76.1 kwh rwd', 'ev9 99.8 kwh awd', 'ev9 99.8 kwh awd gt', 'ev9 99.8 kwh awd gt-line', 'ev9 99.8 kwh rwd', 'niro ev', 'ypsilon', 'c10', 't03', 'rz 300e', 'rz 450e', 'ux 300e', 'eletre', 'eletre r', 'eletre s', 'emeya', 'emeya r', 'emeya s', 'air grand touring', 'air pure rwd', 'air touring', '02', 'cyberster gt', 'cyberster trophy', '4 electric 51 kwh', '4 electric 64 kwh', '4 electric 77 kwh', '4 electric xpower', '5 electric long range', '5 electric standard range', 's5  ev 49 kwh', 's5  ev 64 kwh', 'zs ev long range', 'zs ev standard range', 'grancabrio folgore', 'granturismo folgore', 'grecale folgore', 'mifa 9', '6e 68.8 kwh', '6e long range 80 kwh', 'cla 250+', 'cla 350 4matic', 'eqa 250', 'eqa 250+', 'eqa 300 4matic', 'eqa 350 4matic', 'eqb 250+', 'eqb 300 4matic', 'eqb 350 4matic', 'eqe 300', 'eqe 350 4matic', 'eqe 350+', 'eqe 500 4matic', 'eqe amg 43 4matic', 'eqe amg 53 4matic+', 'eqe suv 300', 'eqe suv 350 4matic', 'eqe suv 350+', 'eqe suv 500 4matic', 'eqe suv amg 43 4matic', 'eqe suv amg 53 4matic+', 'eqs 350', 'eqs 450 4matic', 'eqs 450+', 'eqs 500 4matic', 'eqs 580 4matic', 'eqs amg 53 4matic+', 'eqs suv 450 4matic', 'eqs suv 450+', 'eqs suv 500 4matic', 'eqs suv 580 4matic', 'eqs suv maybach 680', 'eqt 200 long', 'eqt 200 standard', 'eqv 250 extra-long', 'eqv 250 long', 'eqv 300 extra-long', 'eqv 300 long', 'g 580', 'evito tourer extra-long 60 kwh', 'evito tourer long 60 kwh', 'evito tourer long 90 kwh', 'aceman e', 'aceman jcw', 'aceman se', 'cooper e', 'cooper jcw', 'cooper se', 'countryman e', 'countryman se all4', 'el6 long range', 'el6 standard range', 'el7 long range', 'el7 standard range', 'el8 long range', 'el8 standard range', 'et5 long range', 'et5 standard range', 'et5 touring long range', 'et5 touring standard range', 'et7 long range', 'et7 standard range', 'ariya 63kwh', 'ariya 87kwh', 'ariya e-4orce 87kwh - 225 kw', 'ariya e-4orce 87kwh - 320 kw nismo', 'townstar ev passenger', 'townstar ev passenger l2', 'e5', 'astra electric', 'astra sports tourer electric', 'combo-e life 50 kwh', 'combo-e life xl 50 kwh', 'corsa electric 50 kwh', 'corsa electric 51 kwh', 'frontera 44 kwh', 'grandland 73 kwh', 'grandland 82 kwh', 'mokka electric', 'zafira-e life l2 50 kwh', 'zafira-e life l2 75 kwh', 'zafira-e life l3 50 kwh', 'zafira-e life l3 75 kwh', 'e-2008 50 kwh', 'e-2008 54 kwh', 'e-208 50 kwh', 'e-208 51 kwh', 'e-3008 73 kwh', 'e-3008 73 kwh dual motor', 'e-3008 97 kwh long range', 'e-308', 'e-308 sw', 'e-408 58 kwh', 'e-5008 73 kwh', 'e-5008 73 kwh dual motor', 'e-5008 97 kwh long range', 'e-rifter m 50 kwh', 'e-rifter xl 50 kwh', 'e-traveller l2 50 kwh', 'e-traveller l2 75 kwh', 'e-traveller l3 50 kwh', 'e-traveller l3 75 kwh', '2 long range dual motor (my26)', '2 long range performance (my26)', '2 long range single motor (my26)', '2 standard range single motor (my26)', '3 long range dual motor', '3 long range performance', '3 long range single motor', '4 long range dual motor', '4 long range single motor', 'macan 4 electric', 'macan 4s electric', 'macan electric', 'macan turbo electric', 'taycan', 'taycan 4', 'taycan 4 cross turismo', 'taycan 4 plus', 'taycan 4s', 'taycan 4s cross turismo', 'taycan 4s plus', 'taycan 4s plus sport turismo', 'taycan 4s sport turismo', 'taycan gts', 'taycan gts sport turismo', 'taycan plus', 'taycan plus sport turismo', 'taycan sport turismo', 'taycan turbo', 'taycan turbo cross turismo', 'taycan turbo gt', 'taycan turbo gt weissach', 'taycan turbo s', 'taycan turbo s cross turismo', 'taycan turbo s sport turismo', 'taycan turbo sport turismo', '4 e-tech 40kwh 120hp', '4 e-tech 52kwh 150hp', '5 e-tech 40kwh 120hp', '5 e-tech 40kwh 95hp', '5 e-tech 52kwh 150hp', 'kangoo e-tech electric', 'kangoo grand e-tech electric', 'megane e-tech ev60 130hp (tu2025)', 'megane e-tech ev60 220hp (tu2025)', 'scenic e-tech ev60 170hp', 'scenic e-tech ev87 220hp', 'spectre', 'elroq 50', 'elroq 60', 'elroq 85', 'elroq rs', 'enyaq 60', 'enyaq 85', 'enyaq 85x', 'enyaq coupe 60', 'enyaq coupe 85', 'enyaq coupe 85x', 'enyaq coupe rs', 'enyaq rs', 'be11 long range', 'be11 standard range', '#1 brabus', '#1 premium', '#1 pro', '#1 pro+', '#1 pulse', '#1 pure', '#1 pure+', '#3 brabus', '#3 premium', '#3 pro', '#3 pro+', '#5 brabus', '#5 premium', '#5 pro', '#5 pro+', '#5 pulse', '#5 summit edition', 'solterra awd', 'model 3 long range awd (highland)', 'model 3 long range rwd (highland)', 'model 3 performance (highland)', 'model 3 rwd (highland catl lfp64)', 'model s dual motor', 'model s plaid', 'model x dual motor', 'model x plaid', 'model y long range awd (juniper)', 'model y long range rwd (juniper)', 'model y rwd (juniper)', 'proace verso l 75 kwh', 'proace verso m 50 kwh', 'proace verso m 75 kwh', 'proace city verso electric l1 50 kwh', 'proace city verso electric l2 50 kwh', 'bz4x awd', 'bz4x fwd', 'vf 8 eco extended range', 'vf 8 plus extended range', 'id. buzz lwb gtx', 'id. buzz lwb pro', 'id. buzz nwb gtx', 'id. buzz nwb pro', 'id. buzz nwb pure', 'id.3 gtx', 'id.3 gtx performance', 'id.3 pro', 'id.3 pro s', 'id.3 pure', 'id.4 gtx', 'id.4 pro', 'id.4 pro 4motion', 'id.4 pure', 'id.5 gtx', 'id.5 pro', 'id.5 pure', 'id.7 gtx', 'id.7 pro', 'id.7 pro s', 'id.7 tourer gtx', 'id.7 tourer pro', 'id.7 tourer pro s', 'ec40 single motor (my26)', 'ec40 single motor er (my26)', 'ec40 twin motor (my26)', 'ec40 twin motor performance (my26)', 'es90 single motor (my26)', 'es90 twin motor (my26)', 'es90 twin motor performance (my26)', 'ex30 cross country (my26)', 'ex30 single motor (my24-26)', 'ex30 single motor er (my24-26)', 'ex30 twin motor performance (my24-26)', 'ex40 single motor (my26)', 'ex40 single motor er (my26)', 'ex40 twin motor (my26)', 'ex40 twin motor performance (my26)', 'ex90 single motor (my24-26)', 'ex90 twin motor (my24-26)', 'ex90 twin motor performance (my24-26)', 'free 106 kwh', 'g6 awd performance', 'g6 rwd long range', 'g6 rwd standard range', 'g9 awd performance', 'g9 rwd long range', 'g9 rwd standard range', 'p7 awd performance', 'p7 rwd long range', 'p7 wing edition', '001 long range rwd', '001 performance awd', '001 privilege awd', '7x long range rwd', '7x performance awd', '7x premium rwd', 'x core rwd (my25)', 'x long range rwd (my25)', 'x privilege awd (my25)']
Unique values in 'battery_type': [nan]
Unique values in 'fast_charge_port': [nan]
Unique values in 'drivetrain': [nan]
Unique values in 'segment': [nan]
Unique values in 'car_body_type': [nan]